body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#heading-tag{
    height: 8vh;
    width: 22vw;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2rem;
    color: navy;
    border-bottom: 2px dashed green;
    text-align: center;
}   
header{
    position: relative;
    padding: 0;
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#time-res-wrap{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
#timer{
    width: 35%;
    height: 100%;
    text-align: center;
    font-family: 'Unbounded', cursive;
    font-size: 2rem;
    color: rgb(34, 34, 55);
    margin-top: 4vh;
}
#start-clear-button{
    width: 20%;
    height: 80%;
    font-family: 'Unbounded', cursive; 
    font-size: 1rem;
    border-radius: 15px;
    border-style: hidden;
    background-color: rgb(184, 184, 204);
    color: red;
}
#start-clear-button:hover{
    transition: 1s;
    background-color: rgb(165, 165, 208); 
    color: yellow;
}
#start-clear-button:active{
    transition: .2s;
    background-color: rgb(236, 76, 76); 
    color: green;
}
#result-count{
    width: 35%;
    height: 100%; 
    text-align: center; 
    font-family: 'Unbounded', cursive; 
    font-size: 1.5rem;
    color: rgb(34, 34, 55);
    margin-top: 5vh;
}
#div-wrapper{
    position: relative;
    padding-left: 4.0rem;
    height: 80vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(7, 5fr);
    grid-template-rows: repeat(5, 5fr);
}
#div-wrapper > *{
    border: 1px dotted green;
    width: 7vw;
    height: 15vh;
}
 

@media screen and (max-width: 600px) and (min-width: 480px) {
    #heading-tag, #timer{
        font-size: 1rem;
       }
       #timer{
        margin-top: 4rem;
       }
       #start-clear-button{
        font-size: .5rem;
        height: 40%;
       }
       #result-count{
        font-weight: .8rem;
       }
       #result-count{
        font-size: 1rem;
        margin-top: 4rem;
       }
       #div-wrapper{
        padding-left: 2.5rem;
        height: 58vh;
       }
       #div-wrapper > *{
        width: 7vw;
        height: 10vh;
    }
  }
  @media screen and (max-width: 900px) and (min-width: 601px) {
    #heading-tag, #timer{
        font-size: 1.4rem;
       }
       #start-clear-button{
        font-size: 1rem;
        height: 60%;
       }
       #timer{
        margin-top: 3.5rem;
       }
       #result-count{
        font-weight: .8rem;
        margin-top: 4.5rem;
       }
       #result-count{
        font-size: 1rem;
       }
       #div-wrapper{
        padding-left: 1rem;
        height: 67vh;
        width: 52vw;
       }
       #div-wrapper > *{
        width: 6vw;
        height: 12vh;
    }
  }
  @media screen and (max-width: 1030px) and (min-width: 901px){
    #heading-tag, #timer{
        font-size: 1.5rem;
       }
       #start-clear-button{
        font-size: 1rem;
        height: 60%;
       }
       #result-count{
        font-weight: 1.5rem;
       }
       #result-count{
        font-size: 1.5rem;
       }
       #div-wrapper{
        padding-left: 1.5rem;
        width: 56vw;
       }
       #div-wrapper > *{
        width: 7vw;
        height: 14vh;
    }
  }
  @media screen and (min-width: 1031px){
    #heading-tag, #timer{
        font-size: 2.5rem;
       }
       #start-clear-button{
        font-size: 1.5rem;
        height: 60%;
       }
       #result-count{
        font-weight: 1.8rem;
       }
       #result-count{
        font-size: 1.8rem;
       }
       #div-wrapper{
        padding-left: 1.8rem;
        width: 56vw;
       }
       #div-wrapper > *{
        width: 5vw;
        height: 14vh;
    }
  }